<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Jogador</title>
    <link rel="stylesheet" href="createplayer.css">
</head>
<body>

    <div class="container">
        <h1>Cadastrar Jogador</h1>

        <form>
            <div class="form-group">
                <label for="name">Nome do Jogador</label>
                <input type="text" id="name" name="name" value="Teste" required>
            </div>

            <div class="form-group">
                <label for="birthday">Data de Nascimento</label>
                <input type="date" id="birthday" name="birthday" value="1999-01-01" required>
            </div>

            <div class="form-group">
                <label for="height">Altura</label>
                <input type="number" id="height" step="0.05" name="height" min="0.50" max="2.50" value="1.85" required>
            </div>

            <div class="form-group">
                <label for="weight">Peso (kg)</label>
                <input type="number" step="0.1" id="weight" name="weight" min="40" max="200" value="85.9" required>
            </div>

            <div class="form-group">
                <label for="country">Nacionalidade</label>
                <input type="text" id="country" name="country" value="Brasil" required>
            </div>

            <div class="form-group radios">
                <label>Pé preferencial:</label>
                <div class="form-check">
                    <!-- <input type="checkbox" id="destro" name="destro">
                    <label for="destro">Destro</label>
                    <input type="checkbox" id="canhoto" name="canhoto">
                    <label for="canhoto">Canhoto</label> -->
                    <fieldset id="rightHanded" class="radios" name="rightHanded">
                        <label class="porra" for="destro">
                            <input type="radio" name="pepreferencial" id="destro" checked>
                            Destro
                        </label>
                        <label class="porra" for="canhoto">
                            <input type="radio" name="pepreferencial" id="canhoto">
                            Canhoto
                        </label>
                    </fieldset>
                </div>
            </div>

            <button>Salvar Jogador</button>
        </form>

    </div>

    <script src="createplayer.js"></script>

</body>
</html>
