<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Cadastrar Jogo — ScoreMaster</title>
    <link rel="stylesheet" href="/css/creategame.css">
</head>
<body>
<div class="page">

    <header>
        <h1>Cadastrar Jogo</h1>
    </header>

    <main class="card">
        <form action="/games" method="post" id="create-game-form">
            <!-- Dados do jogo -->
            <div class="section-title">Dados do jogo</div>
            <div id="fieldsArea" class="grid">

                
            </div>

            <div class="actions">
                <button type="reset" class="btn secondary">Limpar</button>
                <button type="submit" class="btn">Salvar Jogo</button>
            </div>
        </form>
    </main>
</div>
<script src="/js/creategame.js"></script>
</body>
</html>
